[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.2.4"
gunicorn = "*"
requests = "*"
pandas = "*"
pandas-ta = "*"
pymongo = "*"
python-dotenv = "~=0.21.1"
apscheduler = "~=3.9.1"
secure-smtplib = "*"
pytelegrambotapi = "*"

[dev-packages]
autopep8 = "*"
ipykernel = "*"
openpyxl = "*"

[requires]
python_version = "3.11"
